@use "@styles/base/variables.scss";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex {
  display: flex;
}
@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin font-title($size) {
  font-size: $size;
  font-weight: 600;
  font-family: variables.$primary-font;
}
@mixin font-regular($size) {
  font-size: $size;
  font-weight: 600;
  font-family: variables.$secondary-font;
}

@mixin header($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media only screen and (min-width: 1600px) and (max-width: 4000px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media only screen and (min-width: 300px) and (max-width: 959px) {
      @content;
    }
  }
}
@mixin burgerMenu($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (min-width: 300px) and (max-width: 959px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 960px) and (max-width: 4000px) {
      @content;
    }
  }
}

@mixin main($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  }
}

@mixin sliderWrapper($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media only screen and (min-width: 1600px) and (max-width: 4000px) {
      @content;
    }
  } @else if $breakpoint == mobile-large {
    @media only screen and (min-width: 640px) and (max-width: 959px) {
      @content;
    }
  } @else if $breakpoint == mobile-middle {
    @media only screen and (min-width: 480px) and (max-width: 639px) {
      @content;
    }
  } @else if $breakpoint == mobile-small {
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      @content;
    }
  }
}

@mixin sectionPromo($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media only screen and (min-width: 1600px) and (max-width: 4000px) {
      @content;
    }
  } @else if $breakpoint == mobile-large {
    @media only screen and (min-width: 640px) and (max-width: 959px) {
      @content;
    }
  } @else if $breakpoint == mobile-middle {
    @media only screen and (min-width: 480px) and (max-width: 639px) {
      @content;
    }
  } @else if $breakpoint == mobile-small {
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      @content;
    }
  }
}

@mixin callbackForm($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media only screen and (min-width: 1600px) and (max-width: 4000px) {
      @content;
    }
  }
}

@mixin mainFooter($breakpoint) {
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == desktop-middle {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media only screen and (min-width: 1600px) and (max-width: 4000px) {
      @content;
    }
  } @else if $breakpoint == mobile-large {
    @media only screen and (min-width: 640px) and (max-width: 959px) {
      @content;
    }
  } @else if $breakpoint == mobile-middle {
    @media only screen and (min-width: 480px) and (max-width: 639px) {
      @content;
    }
  } @else if $breakpoint == mobile-small {
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      @content;
    }
  }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
