@use "@styles/base/variables.scss";
@use "@styles/utils/mixins.scss";

.callback-form {
  margin-bottom: 100px;
  @include mixins.sliderWrapper(mobile-large) {
    margin-bottom: 70px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    margin-bottom: 70px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    margin-bottom: 70px;
  }
}

.callback-form__wrapper {
  @include mixins.flex;
  background-color: variables.$primary-color;
  border-radius: 35px;
  padding: 0 50px;
  padding-bottom: 35px;
  padding-top: 35px;
  width: 78vw;
  margin: 0 auto;
  justify-content: space-between;
  @include mixins.callbackForm(desktop-small) {
    width: 95vw;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @include mixins.callbackForm(desktop-middle) {
    width: 95vw;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  @include mixins.callbackForm(desktop-large) {
    width: 68vw;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  @include mixins.sliderWrapper(mobile-large) {
    width: 95vw;
    flex-direction: column;
    padding: 25px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    width: 95vw;
    flex-direction: column;
    padding: 25px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    width: 95vw;
    flex-direction: column;
    padding: 25px;
  }
}
.callback-form__features {
  @include mixins.sliderWrapper(mobile-large) {
    margin-bottom: 40px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    margin-bottom: 35px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    margin-bottom: 35px;
  }
}
.callback-form__head {
  @include mixins.font-title(45px);
  max-width: 400px;
  color: variables.$tertiary-color;
  margin-bottom: 25px;
  @include mixins.callbackForm(desktop-small) {
    font-size: 37px;
    margin-top: -10px;
  }
  @include mixins.callbackForm(desktop-middle) {
    max-width: 425px;
    font-size: 40px;
    margin-top: -10px;
  }
  @include mixins.callbackForm(desktop-large) {
    max-width: 450px;
    font-size: 42px;
    margin-top: -10px;
  }
  @include mixins.sliderWrapper(mobile-large) {
    font-size: 35px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    font-size: 30px;
    width: 73vw;
  }
  @include mixins.sliderWrapper(mobile-small) {
    font-size: 30px;
    width: 61vw;
  }
}
.callback-form__item {
  @include mixins.font-regular(22px);
  font-weight: 400;
  color: variables.$tertiary-color;
  margin-bottom: 15px;
  margin-left: 30px;
  position: relative;
  @include mixins.callbackForm(desktop-small) {
    font-size: 18px;
    margin-bottom: 24px;
  }
  @include mixins.callbackForm(desktop-middle) {
    font-size: 22px;
  }
  @include mixins.callbackForm(desktop-large) {
    font-size: 24px;
  }
  @include mixins.sliderWrapper(mobile-large) {
    font-size: 16px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    font-size: 18px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    font-size: 18px;
  }
}
.callback-form__item:last-child {
  margin-bottom: 0px;
}
.callback-form__item::before {
  content: "";
  width: 24px;
  height: 29px;
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_116_1603)"><rect x="24" y="1.04907e-06" width="24" height="24" rx="12" transform="rotate(90 24 1.04907e-06)" fill="white"/><path d="M12 1.04907e-06C12 6.62742 17.3726 12 24 12" stroke="#1F8B48" stroke-width="2"/><path d="M12 24C12 17.3726 17.3726 12 24 12H-40" stroke="#1F8B48" stroke-width="2"/></g><defs><clipPath id="clip0_116_1603"><rect x="24" y="1.04907e-06" width="24" height="24" rx="12" transform="rotate(90 24 1.04907e-06)" fill="white"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: -30px;
  @include mixins.sliderWrapper(mobile-large) {
    top: -2px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    top: -1px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    top: -1px;
  }
}
.callback-form__form {
  width: 40vw;
  @include mixins.sliderWrapper(mobile-large) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @include mixins.sliderWrapper(mobile-small) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.callback-form__input {
  margin-bottom: 15px;
  display: flex;
  @include mixins.sliderWrapper(mobile-large) {
    width: 43vw;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    width: 41vw;
  }
  @include mixins.sliderWrapper(mobile-small) {
    width: 100%;
  }
}
.callback-form__input:first-child {
  @include mixins.sliderWrapper(mobile-large) {
    margin-right: 8px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    margin-right: 8px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    margin-right: 8px;
  }
}
.callback-form__input input::placeholder {
  color: #13131248;
}
.callback-form__input input {
  @include mixins.font-regular(16px);
  width: 100vw;
  border-radius: 50px;
  height: 40px;
  padding-left: 15px;
  border: transparent;
  outline: none;
  font-weight: 400;
}
.callback-form__button {
  @include mixins.font-title(22px);
  @include mixins.flex;
  justify-content: space-between;
  letter-spacing: 0.5;
  align-items: center;
  border-radius: 35px;
  color: variables.$secondary-color;
  background-color: variables.$tertiary-color;
  padding: 15px 25px;
  outline: none;
  border: transparent;
  @include mixins.callbackForm(desktop-small) {
    font-size: 18px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    width: 100%;
  }
}
.callback-form__button:hover {
  cursor: pointer;
}
.callback-form__button span {
  margin-right: 10px;
  @include mixins.sliderWrapper(mobile-large) {
    font-size: 16px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    font-size: 16px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    font-size: 16px;
    margin-right: 0;
  }
}
.callback-form__arrow {
  background-color: variables.$primary-color;
  border-radius: 25px;
}

.callback-form__arrow svg {
  color: variables.$primary-color;
  display: flex;
  align-items: center;
}
.callback-form__arrow svg path {
  fill: red;
  stroke: red;
  stroke-width: 22px;
}

.callback-form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @include mixins.sliderWrapper(mobile-large) {
    width: 100vw;
  }
  @include mixins.sliderWrapper(mobile-middle) {
  }
  @include mixins.sliderWrapper(mobile-small) {
  }
}

.callback-form__checkbox-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  @include mixins.sliderWrapper(mobile-large) {
    margin-right: 10px;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    margin-right: 10px;
  }
  @include mixins.sliderWrapper(mobile-small) {
    margin-right: 10px;
  }
}

.callback-form__checkbox input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.callback-form__checkbox label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 10C19 11.78 18.4722 13.5201 17.4832 15.0001C16.4943 16.4802 15.0887 17.6337 13.4442 18.3149C11.7996 18.9961 9.99002 19.1743 8.24419 18.8271C6.49836 18.4798 4.89471 17.6226 3.63604 16.364C2.37737 15.1053 1.5202 13.5016 1.17293 11.7558C0.825665 10.01 1.0039 8.20038 1.68508 6.55585C2.36627 4.91131 3.51983 3.50571 4.99987 2.51677C6.47991 1.52784 8.21997 1 10 1" stroke="white" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  border-radius: 4px;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.callback-form__checkbox label::before {
  content: "";
  display: none;
  position: absolute;
  top: 9px;
  left: 11px;

  transform: translate(-50%, -50%);
  width: 12px;
  height: 10px;

  background-image: url('data:image/svg+xml,<svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.72366 4.97952C1.34166 4.58052 0.709663 4.56452 0.309663 4.94652C-0.0893368 5.32752 -0.105337 5.96052 0.276663 6.36052L2.49966 8.69052C2.68766 8.88752 2.94766 8.99952 3.21966 9.00052H3.22366C3.49466 9.00052 3.75366 8.89052 3.94166 8.69552L10.7187 1.69552C11.1027 1.29852 11.0927 0.665522 10.6957 0.281522C10.2977 -0.103478 9.66466 -0.091478 9.28166 0.304522L3.22866 6.55752L1.72366 4.97952Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.callback-form__checkbox input:checked + label {
  background-color: transparent; /* Цвет фона при активации */
}

.callback-form__checkbox input:checked + label::before {
  display: block; /* Показываем галочку */
}
.callback-form__checkbox span {
  @include mixins.font-regular(14px);
  font-weight: 400;
  order: 2;
  color: variables.$tertiary-color;
  @include mixins.callbackForm(desktop-small) {
    font-size: 11px;
  }
  @include mixins.callbackForm(desktop-middle) {
    font-size: 11px;
  }
  @include mixins.callbackForm(desktop-large) {
    font-size: 14px;
  }
  @include mixins.sliderWrapper(mobile-large) {
    font-size: 12px;
    font-weight: normal;
  }
  @include mixins.sliderWrapper(mobile-middle) {
    font-size: 12px;
    font-weight: normal;
  }
  @include mixins.sliderWrapper(mobile-small) {
    font-size: 12px;
    font-weight: normal;
  }
}
.callback-form__checkbox input {
  margin-right: 20px;
}
