@use "@styles/base/variables.scss";
@use "@styles/utils/mixins.scss";

.header {
  background-color: variables.$tertiary-color;
  margin-bottom: 15px;
  margin-top: 25px;
  padding: 20px 24px;
  border-radius: 20px;
  @include mixins.flex-between;

  @include mixins.header(desktop-small) {
    max-width: 95vw;
    margin-top: 15px;
  }
  @include mixins.header(desktop-middle) {
    max-width: 95vw;
    margin-top: 15px;
  }
  @include mixins.header(desktop-large) {
    max-width: 68vw;
  }
  @include mixins.header(mobile) {
    position: relative;
    max-width: 95vw;
    align-items: center;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    background-color: transparent;
  }
}
.main-nav__list {
  @include mixins.flex-between;
}
.main-nav__link {
  @include mixins.font-regular(16px);
  color: variables.$secondary-color;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
.main-nav__link--active {
  background-color: variables.$primary-color;
  color: variables.$tertiary-color;
  padding: 5px 18px;
}

.main-nav__link:hover {
  background-color: variables.$primary-color;
  color: variables.$tertiary-color;
}
.main-nav__link--active:hover {
  background-color: transparent;
  border: 1px solid variables.$primary-color;
  color: variables.$secondary-color;
}
